<a href="https://colab.research.google.com/github/HarshalaShisave/mydatascience2021/blob/main/4assignment_2question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
dataset=pd.read_csv('/content/Salary_Data.csv')
dataset

**EDA and Data Visualization**

In [ ]:
dataset.info()

In [ ]:
sns.distplot(dataset['YearsExperience'])

In [ ]:
sns.distplot(dataset['Salary'])

**Correlation Analysis**

In [11]:
dataset.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [ ]:
sns.regplot(x=dataset['YearsExperience'],y=dataset['Salary'])

**Model Building**

In [13]:
model=smf.ols("Salary~YearsExperience",data=dataset).fit()

**Model Testing**

In [14]:
model.params

Intercept          25792.200199
YearsExperience     9449.962321
dtype: float64

In [15]:
model.tvalues, model.pvalues

(Intercept          11.346940
 YearsExperience    24.950094
 dtype: float64, Intercept          5.511950e-12
 YearsExperience    1.143068e-20
 dtype: float64)

In [16]:
model.rsquared , model.rsquared_adj

(0.9569566641435086, 0.9554194021486339)

**Model Predictions**

In [18]:
# Manual prediction for say 3 Years Experience
Salary = (25792.200199) + (9449.962321)*(3)
Salary

54142.087162

In [19]:
# Automatic Prediction for say 3 & 5 Years Experience 
new_data=pd.Series([3,5])
new_data

0    3
1    5
dtype: int64

In [20]:
data_pred=pd.DataFrame(new_data,columns=['YearsExperience'])
data_pred

   YearsExperience
0                3
1                5

In [21]:
model.predict(data_pred)

0    54142.087163
1    73042.011806
dtype: float64